!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/learnjs.css')
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/jquery.ba-bbq.min.js")
    script(src="/javascripts/jquery.textarea.js")
    script(src="/javascripts/jquery.jsPlumb-1.3.3-all-min.js")
    script(src="/javascripts/learnjs.js")
    script(src="/javascripts/learnjs-tutor.js")
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29694339-1']);
      _gaq.push(['_setDomainName', 'learnjs.info']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    != body
    center
      div#footer
        p
          | source code @
          a(href='https://github.com/zdwalter/learnjs') here
        p about me 
          a(href='http://zdwalter.info') http://zdwalter.info
        p
          | Thanks to
          a(href='http://people.csail.mit.edu/pgbovine/python/tutor.html') Online Python Tutor 
