!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/learnjs.css')
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/jquery.ba-bbq.min.js")
    script(src="/javascripts/jquery.textarea.js")
    script(src="/javascripts/jquery.jsPlumb-1.3.3-all-min.js")
    script(src="/javascripts/learnjs.js")
    script(src="/javascripts/learnjs-tutor.js")
  body!= body
