div#inputPane
  p Write your Javascript code here:
  textarea.codeInputPane#jsInput(cols="55",rows="20",wrap="off")
  p
  button#executeBtn.bigBtn(type="button") Visualize execution


//<table border="0" id="pyOutputPane">
//<tr>
//<td valign="top">
//
//<center>
//
//<div id="pyCodeOutputDiv">
//
//Use <b>left</b> and <b>right</b> arrow keys to step through this code:
//<table id="pyCodeOutput"></table>
//
//</div>
//
//<div id="editCodeLinkDiv">
//
//<button id="editBtn" class="medBtn" type="button">Edit code</button>
//
//</div>
//
//<div id="vcrControls">
//  <button id="jmpFirstInstr", type="button">&lt;&lt; First</button>
//  <button id="jmpStepBack", type="button">&lt; Back</button>
//  <span id="curInstr">Step ? of ?</span>
//  <button id="jmpStepFwd", type="button">Forward &gt;</button>
//  <button id="jmpLastInstr", type="button">Last &gt;&gt;</button>
//</div>
//
//<div id="errorOutput"></div>
//
//
//</center>
//
//Program output:
//<br/>
//<textarea id="pyStdout" cols="50" rows="13" wrap="off" readonly></textarea>
//
//
//</td>
//<td valign="top">
//
//<div id="dataViz"></div>
//
//</td>
//</tr>
//</table>
//
